.header {
	position: relative;
	font-weight: bold;
	font-size: 36px;
	text-align: center;
}
.deck
{
	display: block;
	width:50%;
	margin: 5px;
	background:rgb(146, 166, 202);
	border:solid 5px black;
	padding: 5px;
	border-radius:5px;
	text-align: center;
	color:white;
}
/* .scoreboard {
	display: block;
	width: 30%;
	margin: 5px;
	background:rgb(146, 166, 202);
	border:solid 2px black;
	padding: 5px;
	border-radius:5px;
	text-align: center;
	color:white;
} */
.tableHeader {
	text-align: center;
}

.card
{
	padding: 10px;
	border: solid 1px #808080;
	background-color: white;
	display: inline-block;
	border-radius: 10px;
	font-size: 14pt;
	text-align: center;
	color:black;
	margin: 3px;
}

.btn
{
	background:white;
	padding: 10px 20px;
	border-radius:30px;
	margin: 10px;
	display:inline-block;
}

.card .value{
	font-size:15pt;
	font-family: sans-serif;
}

.card .suit
{
	background-image: url('card.png');
	height: 100px;
	width: 90px;
}

.card .diamonds
{
	background-position-y: 100px;
}

.card .hearts
{
	background-position-x: 90px;
}

.card .clubs
{
	background-position-x:90px;
	background-position-y:100px;
}
img {
	width: 30px;
	height: 40px;
}
.footer {
	position: relative;
	text-align: center;
	font-size: 14px;
}
                
            